body {
  background-color: black;
}
.App {
  text-align: center;
  background-color: black;

}

.App-logo {
  height: 40vmin;
  color: black;
  pointer-events: none;
  overflow: hidden;
}

.App-header {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

